*{
  padding: 0;
  margin: 0;
}

body{ 
  height: 100vh;
  background: #F6F8FF;
  color:  #F6F8FF;
}

#options_section, #inputs_container{
  position: relative;
  height: 90px;
  background:  #272d2d;
  padding: 25px 20px 15px 20px;
}

#inputs_container{
  display: inline;
}

#options_section{
  border-bottom: 3px solid #A846A0;
}


.option{
  z-index: -10;
}

.nav_content{
  position: relative;
  display: inline;
  top: 2px;
  padding: 0px 10px;
  margin-left: 10px;
  text-transform: uppercase;
}

.control_input{
  position: relative;
  top: 4.5%;
  appearance: none;
  width: 10vw;
  height: 9px;
  opacity: .9;
  transition: opacity .2s;
  margin-right: 20px;
  border-radius: 10px;
  outline: none;
}

.control_input::after{
  content: '';
    position: absolute;
    width: 2.5px;
    height: 31px;
    background:#A846A0;
    bottom: -10px;
    right: 2px;
    margin: -8px -20px 0 0;
    border-radius: 20%;
}

.blur{ opacity: 0.5; }

.control_input:hover{ opacity: 1; }

.control_input::-webkit-slider-thumb{
  appearance: none;
  width: 19px;
  height: 19px;
  background: #A846A0;
  border-radius: 50%;
  border: 1.5px solid #A846A0;
  box-shadow: -1px 1px 4px;
  cursor: pointer;
}

.select-container{
  position: relative;
  display: inline-block;
  top: 1px;
  z-index: 10;
}

.select-box{
  display: flex;
  width: 8vw;
  min-width: 150px;
  flex-direction: column;
}

.select-box .options-container{
  background: #272d2d;
  color: #f5f6fa;
  max-height: 0;
  opacity: 0;
  width: 100%;
  transition: all 0.4s;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  order: 1;
}

.select-box .options-container.active{
  max-height: 160px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar{
  width: 7px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
  background:#A846A0;
  border-radius: 0 0 8px 8px;
}

.select-box .option
{
  padding: 5px;
  height: 40px;
  font-size: 16.75px;
  padding-right: 15px;
  text-align: center;
  transition: background 0.1s ease-out;
  cursor: pointer;
}

.select-box label{
  cursor: pointer
}

.select-box .option:hover{
  background: #414b57;
}

.select-box .option .radio{
  display: none;
}

.select-box .options-container.active + .selected::after{
  transform: rotateX(180deg);
  top: -8px;
}

.selected{
  position: relative;
  color: #f5f6fa;
  height: 30px;
  font-size: 16.75px;
  padding-right: 15px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  transition: background 0.2s ease-out;
  cursor: pointer;
}

.selected:hover{
  background: #1f2424;
}

.selected::after{
  content: "";
  background: url('imgs/down3.png') no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 18px;
  top: 5px;
  right: 15px;
  transition: 0.2s;
}

#container{
  position: relative;
  top: 5.5%;
  height: calc(90vh - 100px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: auto;
  padding: 0% 20%;
}
  
  .custom_btn{
    position: absolute;
    top: .9rem;
    right: 2.25rem;
    width: 9.5rem;
    height: 2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background:  #226ce0;
    border-radius: 30px;
    transition: background .2s ease-out, color .2s ease-out;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
  }


  .custom_btn:hover{
    color: white;
    background: #A846A0;
  }
  
  .block{
    position: relative;
    display: flex;
    font-family: sans-serif;
    background: #226ce0;
    color: white;
    font-size: clamp(.8rem, 25vw, 1rem);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    min-width: .75%;
    min-height: 20px;
    border: 1px solid black;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    margin: .3rem .2rem;
    padding: .3% .3%;
  }
  
  .selected_block{
      background: #A846A0;
      color: #fff;
  }

  .pivoted{ background: #C51B54;}
  .sorted{ background: #008F1F;}

  .remove_text{
    text-indent: -9999px;
  }

  footer{
    position: absolute;
    width: 100%;
    background: #272d2d;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    border-top: 3px solid #A846A0;
    bottom: 0;
  }

  #credit{
    width: 25rem;
    text-align: start;
    padding: 0 10px;
    font-size: 1.025rem;
    letter-spacing: .3px;  
  }

  #credit i{
    color: #CC2836;
    font-size: 1.6rem;
    vertical-align: top;
  }

  #source_code{
    position: absolute;
    font-size: 1.025rem;
    top: 9px;
    right: 2.25rem;
  }

  #source_code a{
    vertical-align: middle;
    font-size: 2.25rem;
    padding-left: 20px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #F6F8FF;
    transition: color .2s ease-out;
  }

  #source_code a:hover{
    color:#b96bb3;
  }

  /* Media queries */

  @media (max-width: 1600px){
    #container{
      padding: 0% 25%;
    }
    .block{
      text-indent: -9999px;
      min-width: 1%;
    }
  }

  @media (max-width: 1320px){
    #container{
      padding: 0% 30%;
    }

    .block{
      padding: .15% .15%;
    }
  }

  @media (max-width: 1100px){
    #container{
      padding: 0% 40%;
    }

    .block{
      min-width: 2%;
      margin: .3rem .1rem;
      padding: 1px;
    }
  }

  @media (max-width: 750px){
    #container{
      padding: 0% 50%;
    }

    .block{
      padding: .15% .15%;
    }
  }




